<div class=<%= message.user.id == current_user.id ? 'current-user-cont': 'another-user-cont'%>>
  <div class=<%= message.user.id == current_user.id ? 'current-user': 'another-user'%>>
    <div class="sms">
      <%= message.content%>
    </div>
  </div>
</div>