<% if @single_room && @single_room.participant?(@single_room, user) %>
  <% isActive =  'active' %>
<% else %>
  <% isActive = '' %>
<% end %>
<li class="list-group-item d-flex align-items-center justify-content-between user_list_item <%= isActive %>">
  <div class="profile">
    <%= image_tag(user.pic) if user.pic.attached? %>
  </div>
    <div class="status">
      <%= turbo_stream_from "user_status" %>
      <%= render 'users/status', user: user %>
      
    </div>


  <div data-controller="rooms" data-action="click->rooms#call_user" class="btn rounded-1 btn-primary">Call</div>
</li>