.top-nav {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

small a {
  font-size: 1em;
  padding-right: 0.2rem;
}

.signin,
.sign-up {
  box-shadow:
  0 0.06875rem 0.0875rem rgb(4, 9, 20 / 3%),
  0 0.0375rem 0.10625rem rgb(4, 9, 20 / 3%),
  0 0.05rem 0.03125rem rgb(4, 9, 20 / 5%),
  0 0.025rem 0.0875rem rgb(4, 9, 20 / 3%);
  padding: 15px;
  border-radius: 8px;
  width: 80%;
}

.message-body {
  background-color: #fff;
  height: 100%;
  border-radius: 0.5rem;
}

small {
  color: #111827;
}

.cont-room {
  position: absolute;
  right: 25px;
  z-index: 5;
  top: 0;
  padding: 0;
}

.chat {
  position: fixed;
  right: 1%;
  bottom: 15%;
  z-index: 5;
}

.chat .messager {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #2C71F0;
  font-size: 30px;
  padding: 5px;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 0.428571rem 0px;
}

.profile-link {
  margin: 5px;
}

.home {
  margin-left: 5px;
}

.home-btn {
  cursor: pointer;
}

.chat a {
  position: absolute;
  top: 10px;
  right: 20px;
  left: 15px;
  color: #fff;
  font-size: 40px;
}

.titles {
  letter-spacing: 0;
  line-height: 32px;
  font-weight: 500;
  font-size: 1.2rem;
}

.room-names {
  font-size: 1.5rem;
}

.nav-top {
  position: relative;
}

.search {
  border-radius: 0 5px 5px 0 !important;
}

.nav {
  margin-left: auto;
  margin-top: 3%;
}

.notice,
.alert {
  position: absolute;
  left: 30%;
}

.notice p,
.alert p {
  padding: 3px;
}

.rooms-cont,
.friends {
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
}


.cont-room {
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 0.428571rem 0px;
  border-radius: 0.571429rem;
}

.friends:hover,
.message-body:hover {
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 0.428571rem 0px;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #f4f3f6;
}

.close {
  cursor: pointer;
}

.sms-chat {
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.section {
  margin-left: 16%;
  margin-top: 10%;
  position: relative;
}

.row {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
}

.panel {
  justify-content: center;
}

a {
  text-decoration: none;
  font-size: 1.1rem;
}

.top-nav {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

small a {
  font-size: 1em;
  padding-right: 0.2rem;
}

.signin,
.sign-up {
  box-shadow:
  0 0.06875rem 0.0875rem rgb(4, 9, 20 / 3%),
  0 0.0375rem 0.10625rem rgb(4, 9, 20 / 3%),
  0 0.05rem 0.03125rem rgb(4, 9, 20 / 5%),
  0 0.025rem 0.0875rem rgb(4, 9, 20 / 3%);
  padding: 15px;
  border-radius: 8px;
  width: 80%;
}

.current-user {
  background-color: #007bff;
  padding: 5px;
  border-radius: 18px;
}

.sign-form {
  justify-content: center;
}

.inner-sign {
  box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
  border-width: 0;
  transition: all .2s;
  padding: 15px 1.2rem;
  border-radius: 0.25rem;
}

.messages {
  margin-left: 5px;
  overflow-y: scroll;
  height: 65vh;
  padding: 0 0.5rem;
}

.message-box {
  word-wrap: break-word;
  max-width: 40%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #d1d5db;
  padding: 10px;
  color: #111827;
}


.nav-cont {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}

.sidebar {
  width: 15%;
  text-align: left;
  z-index: 1005;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 32px 0 0;
  background-color: #fff !important;
  box-shadow:
    0 0.46875rem 2.1875rem rgb(4 9 20 / 3%),
    0 0.9375rem 1.40625rem rgb(4 9 20 / 3%),
    0 0.25rem 0.53125rem rgb(4 9 20 / 5%),
    0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
}

.message-box h6 {
  background-color: #f4f6f8;
  padding: 5px;
  border-radius: 3px;
  color: #212b36;
}

.current-user-cont {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
}

.another-user-cont {
  display: flex;
  justify-content: flex-start;
  margin: 5px 0;
}

.form-control,
.btn-primary {
  border-radius: 0;
}

.another-user {
  background-color: #6b7280;
  padding: 5px;
  border-radius: 18px;
}

.collabo {
  flex-direction: row-reverse;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.cont {
  position: relative;
}

.profile-cont {
  justify-content: flex-start;
  align-items: center;
}

.cont .profile {
  position: absolute;
  left: -38px;
  bottom: -10px;
}

.dot {
  white-space: nowrap;
  font-size: 2rem;
  color: rgba(33,43,53,.65);
  padding-left: 5px;
  margin-bottom: 0.5px;
  letter-spacing: -.18px;
  margin-top: auto;
}

.name {
  margin-top: auto;
}

.name,
.name a {
  white-space: nowrap;
  font-size: 12px;
  color: rgba(33,43,53,.65);
  padding-left: 5px;
  margin-bottom: 2px;
  letter-spacing: -.18px;
}
