<nav class="nav-cont navbar-expand-lg navbar-light bg-light">
  <div class="nav-top container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <nav class="nav">
        <%= render 'users/search'%>
        <div class="mt-3">
          <div>
            <% if !current_user %>
              <%= link_to 'Sign in', user_session_path %>
            <% end %>
          </div>
        </div>
        <% if notice.present? %>
          <div class="notice">
            <p class="bg-warning text-center text-white"> <%= notice %> </p>
          </div>
        <% end %>
        <% if alert.present? %>
          <div class="alert">
            <p class="bg-danger text-center text-white"> <%= alert %> </p>
          </div>
        <% end %>
      </nav>
    </div>
  </div>
</nav>